### Explorations for Zillow Project

In [11]:
import pandas as pd
import env

# connection function for accessing mysql 
def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

query = """
        SELECT bathroomcnt, 
               bedroomcnt, 
               buildingqualitytypeid, 
               calculatedfinishedsquarefeet, 
               lotsizesquarefeet, 
               parcelid, 
               regionidcounty, 
               regionidzip, 
               taxvaluedollarcnt, 
               taxamount
        FROM properties_2017
        JOIN predictions_2017 using(parcelid)
        WHERE (transactiondate between "2017-05-01" and "2017-06-30")
        AND ((unitcnt = 1) or (propertylandusetypeid = 261))
"""

df = pd.read_sql(query, get_connection('zillow'))
df.head()

,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedfinishedsquarefeet,lotsizesquarefeet,parcelid,regionidcounty,regionidzip,taxvaluedollarcnt,taxamount
0,2.0,3.0,6.0,1458.0,8284.0,11289917,3101.0,97318.0,136104.0,2319.90
1,1.0,2.0,6.0,1421.0,6707.0,11705026,3101.0,96018.0,35606.0,543.69
2,3.0,4.0,NaN,2541.0,4975.0,14269464,1286.0,96958.0,880456.0,9819.72
3,2.0,3.0,6.0,1650.0,7300.0,11389003,3101.0,96037.0,614000.0,7673.19
4,1.0,2.0,5.0,693.0,2908.0,11967869,3101.0,96023.0,274237.0,3267.47

In [14]:
# Some prep
df = df.rename(columns={"bedroomcnt": "bedrooms", "bathroomcnt": "bathrooms", 
                        "calculatedfinishedsquarefeet":"square_feet", "taxamount": "taxes", 
                        "taxvaluedollarcnt": "tax_value", "parcelid":"parcel_id",
                        "buildingqualitytypeid":"building_quality","regionidcounty":"county",
                        "regionidzip":"zip_code","lotsizesquarefeet":"lot_size"})

In [15]:
df.shape

(18752, 10)

In [16]:
df.head()

,bathrooms,bedrooms,building_quality,square_feet,lot_size,parcel_id,county,zip_code,tax_value,taxes
0,2.0,3.0,6.0,1458.0,8284.0,11289917,3101.0,97318.0,136104.0,2319.90
1,1.0,2.0,6.0,1421.0,6707.0,11705026,3101.0,96018.0,35606.0,543.69
2,3.0,4.0,NaN,2541.0,4975.0,14269464,1286.0,96958.0,880456.0,9819.72
3,2.0,3.0,6.0,1650.0,7300.0,11389003,3101.0,96037.0,614000.0,7673.19
4,1.0,2.0,5.0,693.0,2908.0,11967869,3101.0,96023.0,274237.0,3267.47

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18752 entries, 0 to 18751
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   bathrooms         18752 non-null  float64
 1   bedrooms          18752 non-null  float64
 2   building_quality  13189 non-null  float64
 3   square_feet       18727 non-null  float64
 4   lot_size          18402 non-null  float64
 5   parcel_id         18752 non-null  int64
 6   county            18752 non-null  float64
 7   zip_code          18743 non-null  float64
 8   tax_value         18752 non-null  float64
 9   taxes             18751 non-null  float64
dtypes: float64(9), int64(1)
memory usage: 1.4 MB

In [18]:
df.nunique()

bathrooms              19
bedrooms               13
building_quality       12
square_feet          3603
lot_size             9534
parcel_id           18745
county                  3
zip_code              382
tax_value           15461
taxes               18562
dtype: int64

In [19]:
df.value_counts('county')

county
3101.0    13345
1286.0     4110
2061.0     1297
dtype: int64

In [20]:
Takeaways:
    
Change to int: bathrooms, bedrooms, zip_code
    
Bathrooms - remove 13, with value of 0
Bedrooms - remove 68, with value of 0

SyntaxError: invalid syntax (<ipython-input-20-b457658dba29>, line 1)